body {
    padding-top: 56px;
    color: #333333;
}

.navbar {
    background-color: #ffffff;
    border-bottom: 2px solid #ff6f00;
}

.navbar-brand, .nav-link {
    color: #000000 !important;
}

.nav-link.active {
    font-weight: bold;
    color: #ff6f00 !important;
}

.container {
    margin-top: 20px;
}

footer {
    background-color: #ff6f00;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.form-group label {
    font-weight: bold;
    color: #000000;
}

.form-control {
    border-radius: 0;
    color: #000000;
}

.btn-primary {
    background-color: #ff6f00;
    border-color: #ff6f00;
}

.carousel-inner img {
    width: 100%;
    height: auto;
}
